
#message {
  font-size: xx-large;
  margin-left: 20px;
  display: inline-block;
}

#board {
  width: 210px;
  height: 210px;
  border: 1px solid;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board .cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}


#board .cell.O {
  color: #1A237E;
  background: #E8EAF6;
}


#board .cell.X {
  color: #E53935;
  background: #FFEBEE;
}